* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 0.7rem 2rem;
	box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
	font-size: 1.2rem;
	font-weight: 700;
	color: black;
	transition: all 0.2s;
}

.navbar .logo:hover {
	color: rgba(0, 0, 0, 0.7);
}

.navbar nav {
	display: flex;
	align-items: center;
	gap: 1.3rem;
}

.navbar nav a {
	color: #5300e8;
	font-weight: 500;
	transition: all 0.2s;
}

.navbar nav a:hover {
	color: #ee6002;
}

.navbar .cta {
	padding: 0.65rem 1rem;
	background-color: #ee6002;
	color: white;
	border-radius: 0.3rem;
	font-size: 90%;
}

.navbar .cta:hover {
	background-color: #e54304;
	color: white;
}

.blog-posts {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 2rem 2rem;
}

.posts-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.5rem;
}

.blog-posts h2 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.blog-posts .post {
	/* width: 230px; */
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 0.8rem;
	transition: all 0.2s;
}

.blog-posts .post img {
	width: 100%;
	height: 100px;
	object-fit: cover;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.blog-posts .post .body {
	padding: 0.8rem;
	background-color: white;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.blog-posts .post .body h3 {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.blog-posts .post .body .metadata {
	font-size: 90%;
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.2;
	margin-bottom: 0.8rem;
}

.blog-posts .post .body .excerpt {
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.2;
	margin-bottom: 0.8rem;
}

.blog-posts .post .body .btn {
	width: 100%;
	background-color: #dedede;
	color: #3c3c3c;
	display: block;
	text-align: center;
	font-size: 85%;
	font-weight: 700;
	padding: 0.6rem;
	border-radius: 0.3rem;
	transition: all 0.2s;
}

.blog-posts .post .body .btn:hover {
	background-color: #c2c2c2;
}
