* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	margin: 0;
}

.box {
	background-color: red;
	border: 5px solid black;
	height: 100px;
	width: 100px;
	color: black;
	font-weight: bold;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .box1 {
	height: 200px;
}

.box3 {
	height: 140px;
}

.box4 {
	height: 250px;
	font-size: 100px;
}

.box6 {
	height: 70px;
} */

.container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* align-content: space-between; */
	align-items: center;
	/* height: 500px;
	background-color: gray; */
}

.box2 {
	flex-grow: 1;
}

.box5 {
	flex-grow: 2;
}

/*
.box2 {
	order: 3;
}

.box6 {
	order: 2;
} */
