body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
	background-color: red;
	border: 5px solid black;
	min-height: 100px;
	color: black;
	font-weight: bold;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	/* row-gap: 20px;
	column-gap: 40px; */
	gap: 20px;
	/* grid-template-rows: 1fr 1fr 1fr; */
	/* grid-template-areas:
		"header header header header"
		"left-sidebar main-content main-content right-sidebar"
		"footer footer . ."; */
}

/* .box1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 30;
} */

/* .box1 {
	grid-area: header;
}

.box2 {
	grid-area: left-sidebar;
}

.box3 {
	grid-area: main-content;
}

.box4 {
	grid-area: right-sidebar;
}

.box5 {
	grid-area: footer;
} */

.copyright {
	display: none;
}

@media screen and (min-width: 600px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}

	body {
		background-color: aqua;
	}
}

@media screen and (min-width: 900px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	body {
		background-color: aqua;
	}
}


@media screen and (min-width: 1200px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	body {
		background-color: white;
	}

	.box {
		background-color: brown;
	}
}

@media print {
	.copyright {
		display: block;
		font-size: 30px;
		color: black;
		font-weight: bold;
		text-align: center;
	}

	.container {
		grid-template-columns: 1fr 1fr 1fr;
		display: none;
	}

	.box {
		background-color: white;
		border: 10px dashed black;
	}
}
