@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

@font-face {
	font-family: 'fashion_scriptregular';
	src: url('./assets/fashion_script-webfont.woff2') format('woff2'),
		url('./assets/fashion_script-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}



/* body {
	background-color: aquamarine;
} */

/* * {
	font-family: Arial, Helvetica, sans-serif;
} */

/* .imp-text {
	border: 5px solid red;
}

.special {
	text-decoration: underline;
}

.imp {
	font-size: 30px;
}

.special.imp {
	color: steelblue;
} */

/* #test {
	border: 5px solid red;
} */

/* li {
	border: 5px solid red;
} */

/* li.imp-text {
	border: 5px solid blue;
} */

/* li,
p,
h2,
.imp-text {
	color: red;
} */

/* ol>li {
	border: 5px solid red;
} */
/*
.section-imp {
	border: 5px solid blue;
}

section+p {
	border: 5px solid red;
} */

/* [href] {
	border: 5px solid red;
} */

/* [href="https://google.com"] {
	border: 5px solid red;
} */

/* [class|='hello'] {
	border: 5px solid green;
} */

/* [class^='hello'] {
	border: 5px solid green;
} */

/* [href$=".com"] {
	border: 5px solid green;
} */
/*
[href*="."] {
	border: 5px solid green;
} */

/* header { */
/* border: 10px solid red;
	border-width: 20px;
	border-style: solid;
	border-color: blue; */
/* border: solid; */
/* border-top: 4px solid red;
	border-bottom: 4px solid blue;
	border-left: 10px solid green;
	border-right: 20px solid orange; */
/* border: 10px solid red; */
/* border-width: 20px 10px 40px 100px; */
/* border-style: solid; */
/* } */

/* header { */
/* border: 20px solid rgba(128, 8, 8, 0.2); */
/* border: 20px solid hsl(0, 90%, 50%);
}

header:hover {
	border: 20px solid hsl(0, 90%, 20%);
} */

/* header { */
/* background: yellow url(./assets/1.jpeg) no-repeat center bottom/200%; */
/* background-color: yellow;
	background-image: url(./assets/1.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; */
/* background-image: linear-gradient(to bottom right, blue, red, orange, yellow, maroon); */
/* background-image: radial-gradient(red, orange, blue); */
/* background-color: white;
	background-image: url(./assets/android-chrome-192x192.png), linear-gradient(to right, red, yellow, orange, blue);
	background-repeat: no-repeat, no-repeat;
	background-size: 110px, cover;
	background-position: center, center; */
/* background-color: white;
	background-image: linear-gradient(to right, rgba(203, 25, 25, 0.8), rgba(0, 0, 0, 0.3)), url(./assets/1.jpeg);
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-position: center, center;
	color: white;
	padding: 20px;
	background-attachment: fixed;
}

header a {
	color: white;
} */

/* .test-box {
	padding: 30px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white url(./assets/2.jpg) no-repeat center/cover;
	-webkit-background-clip: text;
	background-attachment: fixed;
}

.test-box h1 {
	font-size: 120px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -4px;
	color: transparent;
} */

/* .test-box {
	padding: 30px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white url(./assets/2.jpg) no-repeat center/cover;
	background-attachment: fixed;
	margin: 100px;
	border-radius: 20px 50px/20px 100px;
} */

/* header { */
/* padding: 20px;
	margin: 100px; */
/* box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.3); */
/* box-shadow: 20px 20px 20px 0 rgba(8, 18, 207, 0.6), -20px -20px 20px 0 rgba(207, 8, 8, 0.6), -40px -40px 40px 0 rgba(8, 207, 55, 0.6); */
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
/* font-family: Oxygen, sans-serif; */
/* } */

html {
	/* font-size: 20px; */
}

body {
	font-family: Oxygen, sans-serif;
	margin: 0;
}

/* p,
li {
	font-family: Oxygen, sans-serif; */
/* color: blue; */
/* font-weight: 700; */
/* font-style: oblique; */
/* text-decoration: underline; */
/* text-transform: capitalize; */
/* color: white;
	text-shadow: 2px 2px 0 red, -2px -2px 0 blue, -4px -4px 0 black; */
/* font-size: 20px;
	line-height: 1.5; */
/* word-spacing: 20px; */
/* letter-spacing: -4px; */
/* text-align: justify;
} */

/* p,
span { */
/* background-color: yellow;
	border: 2px solid black; */
/* } */

/* strong { */
/* background-color: red;
	color: white;
	border: 2px solid black; */
/* display: block; */
/* background-color: yellow;
	padding: 20px;
	display: inline-block;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* .hello {
	width: 300px;
	height: 300px;
	background-color: yellow;
} */

/* header { */
/* margin-bottom: 100px; */
/* border: 5px solid black; */
/* background-color: red;
	width: 50%;
	padding: 50px;
	border: 10px solid black; */
/* box-sizing: border-box; */
/* max-height: 250px;
	overflow: auto; */
/* padding: 10px 50px 20px 40px;
	margin: 100px; */
/* width: 250px;
	margin: 50px auto; */
/* margin: 100px; */
/* font-size: 1.2rem; */
/* padding: 1.5rem; */
/* font-size: 20px; */
/* padding: 1em; */
/* }

header p {
	margin: 0;
} */

/* img {
	float: right;
} */

/* .img1 {
	position: fixed;
	bottom: 10px;
	right: 10px; */
/* top: 20px;
	right: 100px; */
/* } */

/* .navbar {
	background-color: black;
	padding: 20px 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
}

.navbar a {
	text-decoration: none;
	color: white;
} */

/* img {
	position: relative;
	right: 100px; */
/* top: 110px;
	left: 100px; */
/* } */
